<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary shadow">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink='/home'>Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <!--Categories List-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category <i class="fa-solid fa-filter"></i>
          </a>
          <ul class="dropdown-menu">
            @for (category of categories; track $index) {
            <li><a class="dropdown-item" routerLink="/home/{{category}}">{{category.charAt(0).toUpperCase() + category.slice(1)}}</a></li>
            }

          </ul>
        </li>
        <!---->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="What are you looking for?" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <i class="cart fa-solid fa-cart-shopping m-3 "></i>
      </a>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
  </div>
</div>