<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary shadow">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink='/products' style="font-weight: bold;"><i class="fa-solid fa-basket-shopping"></i>Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/products">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutUs">About Us</a>
        </li>
      <!--Categories List-->
    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{selectedCategory}}<i class="fa-solid fa-filter"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/products" (click)="selectCategory('All Categories')">All Categories</a></li>
            @for (category of categories; track $index) {
            <li><a class="dropdown-item" routerLink="/products/{{category}}" (click)="selectCategory(category)">{{category.charAt(0).toUpperCase() + category.slice(1)}}</a></li>
            }
          </ul>
        </li>
      <!---->
      <!--Search Bar-->  
      </ul>
      <form class="d-flex" role="search" (change)="search()">
        <input class="form-control me-2 " style="width: 300px;" type="search" placeholder="What are you looking for?"  aria-label="Search" [(ngModel)]="searchText" name="searchText" />
        <button class="btn btn-outline-primary " type="submit">Search</button>
      </form>
      <!---->
      
      <!--CART'S OFFCANVA-->
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          
          <i class="cart fa-solid fa-cart-shopping fa-lg m-3 mt-4"><span class="badge text-bg-primary rounded-pill small-badge">{{cartItemsCount}}</span></i>
        </a>
      <!---->
    </div>
  </div>
</nav>
<app-cart></app-cart>
