.content {
  padding-top: 100px; /* adjust to match your navbar height */
}
.invalid{
    border-color: red;
}
form{  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 5px solid rgba(225, 225, 225, .2);
    border-radius: 30px;
    margin-bottom: 45px;
}
.font{
    font-size: 20px;
}