<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasRightLabel">Cart</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    @if (!cart.length) {
    <div class="d-flex container justify-content-center">
      <h3>Empty Cart! </h3><i class="fa-regular fa-face-frown fa-lg mt-3 p-1"></i>
    </div>
    }
    <div class="list-group">
      @for (product of cart; track $index) {
      <div class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between row">
          <img [src]="product?.product.image" class="mb-1 col-2">
          <h5 class="mb-1 col-10">{{product?.product.title}}</h5>
        </div>
        <div class="row align-items-center text-center pt-3">
          <div class="col-3">
            <button class="btn btn-outline-secondary btn-sm rounded-circle" (click)="decreaseQuantity(product)">
              <i class="fa-solid fa-minus"></i>
            </button>
          </div>
          <div class="col-6">
            <span style="font-size: 18px;" >Quantity: {{ product?.quantity }}</span>
          </div>

          <div class="col-3">
            <button class="btn btn-outline-primary btn-sm rounded-circle" (click)="increaseQuantity(product)">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

      }
    </div>
    @if (cart.length) {
      <div class="d-flex flex-column align-items-center">
    <button class="btn btn-primary m-3 " routerLink="/checkout">Check Out</button>
        </div>
  }

  </div>
</div>